/SpybotClient/Debug/
/SpybotClient/Release/
/SpybotClient/x64/

/SpybotServer/Debug/
/SpybotServer/Release/
/SpybotServer/x64/

/SpybotShared/Debug/
/SpybotShared/Release/
/SpybotShared/x64/
/SpybotShared/.vs/

/.vs/

/x64/