/Release/*.iobj
/Release/*.ipdb
/Release/*.pdb
/Release/*.exp

/SpybotClient/Debug/*
/SpybotClient/Release/*

/SpybotServer/Debug/*
/SpybotServer/Release/*

/.vs/*

/CodeBlocks-0.6.0/*

/Compiles/*

/Debug/*